@model MVCKutuphanesi.Models.Entity.TBLUYE
@{
    ViewBag.Title = "UyeEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <br />
    <div>
        <label>Üye Adı</label>
        @*<input type="text" class="form-control" name="PERSONEL" />*@
        @Html.TextBoxFor(x => x.AD, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AD, "", new { @style = "color:red" })
    </div>

    <div>
        <label>Üye Soyadı</label>
        @*<input type="text" class="form-control" name="PERSONEL" />*@
        @Html.TextBoxFor(x => x.SOYAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SOYAD, "", new { @style = "color:red" })
    </div>

    <div>
        <label>E-Mail</label>
        @*<input type="text" class="form-control" name="PERSONEL" />*@
        @Html.TextBoxFor(x => x.EMAIL, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.EMAIL, "", new { @style = "color:red" })
    </div>

    <div>
        <label>Kullanıcı Adı</label>
        @*<input type="text" class="form-control" name="PERSONEL" />*@
        @Html.TextBoxFor(x => x.KULLANICIADI, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.KULLANICIADI, "", new { @style = "color:red" })
    </div>

    <div>
        <label>Şifre</label>
        @*<input type="text" class="form-control" name="PERSONEL" />*@
        @Html.TextBoxFor(x => x.SIFRE, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SIFRE, "", new { @style = "color:red" })
    </div>

    <div>
        <label>Fotograf </label>
        @*<input type="text" class="form-control" name="PERSONEL" />*@
        @Html.TextBoxFor(x => x.FOTOGRAF, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.FOTOGRAF, "", new { @style = "color:red" })
    </div>

    <div>
        <label>Telefon</label>
        @*<input type="text" class="form-control" name="PERSONEL" />*@
        @Html.TextBoxFor(x => x.TELEFON, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TELEFON, "", new { @style = "color:red" })
    </div>

    <div>
        <label>Okul</label>
        @*<input type="text" class="form-control" name="PERSONEL" />*@
        @Html.TextBoxFor(x => x.OKUL, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.OKUL, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Üye Ekle</button>

    </div>

</form>
