@using MVCKutuphanesi.Models.Entity
@model List<TBLYAZAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<br />
<h3>YAZARLAR</h3>
<table class="table table-bordered">
    <tr>
        <th> ID </th>
        <th> AD </th>
        <th> SOYAD </th>
        <th> DETAY </th>
        <th> SİL </th>
        <th> GÜNCELLE </th>
    </tr>
    @foreach (var y in Model) {
        <tr>
            <td>@y.ID</td>
            <td>@y.AD</td>
            <td>@y.SOYAD</td>
            <td>@y.DETAY</td>
            <td>@Html.ActionLink("SİL", "YazarSil", new { id = y.ID }, new { @class = "btn btn-danger", onclick = "return confirm ('Silmek İstiyor musun?')", style = "font-size: 10px;" })</td>
            <td><a href="/Yazar/YazarGetir/@y.ID" class="btn btn-success" style="font-size:10px"> GÜNCELLE</a></td>
        </tr>
    }
</table>

<a href="/Yazar/YazarEkle" class="btn btn-primary"> Yeni Yazar Ekle </a>
